@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 36px;
}
body {
  background-color: #fbf8ef;
}
.cell {
  border-color: #b5a89b;
  color: #f3f6ef;
  /* border-radius: 4px; */
}

.boardContainer {
  background-color: #b5a89b;
  width: 120px;
}
.board {
  width: 98%;
  height: 98%;
}
.realPrevScore {
  background-color: #d6cdc4;
}
.realScore {
  background-color: #d6cdc4;
}